.container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2f3f2f;
    border-radius: 15px;
    flex-direction: row;
}

.drum-pads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    margin: 50px auto;
    width: min-content;
}

.drum-pad {
    background-color: #3f3f3f;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.264);
    cursor: pointer;
    border: 2px solid #2f2f2f;
    color: white;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    width: 100px;
    height: 100px;
    font-size: 20px;
}

.drum-pad:hover {
    transform: translate(4px, 4px);
}

.drum-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    line-height: 2.5;
}

.description {
    height: 40px;
    width: 190px;
    background-color: #7b7171;
    border: 1px solid #2f3f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}